li {
    display: inline-block;
}
ul {
    font-size: 2em;
}
.otstup {
    margin-right: 42%;
}
body>a {
    text-decoration: none;
    font-size: 20px;
    border: 4px double rgb(65, 81, 90);
    background-color: rgb(102, 156, 161);
}
a:link {
    color: rgb(17, 17, 17);
}
a:hover {
    color: rgb(156, 83, 179);
}
body {
    background-image: url(images/bg.jpg);
    background-size: 1850px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1 {
    font-size: 60px;
    text-align: center;
}
